@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;900&family=Spectral:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply py-2 px-3 my-2 text-sm tracking-wider cursor-pointer;
}

.form-label {
	@apply text-gray-700 font-semibold text-sm mb-1 w-full;
}

.form-checkbox {
	@apply h-5 w-5 border mr-2 text-black;
}

.form-inline-group {
	@apply grid grid-cols-2 items-center my-2 gap-2;
}

.form-group {
	@apply my-2;
}

.form-field,
.textarea-field {
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	word-break: break-word;
	box-sizing: border-box;
	margin: 0;
	padding: 0.625em;
	outline: none;
	touch-action: manipulation;
	font-size: 14px;
	line-height: 1.5;
	border: 2px solid #1c2c17;
	height: 45px;
	outline-width: 0;
	overflow: hidden;
	padding-left: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	transition: width calc(350ms * 0.5);
	white-space: nowrap;
	width: 100%;
	background-color: #fffcee;
	border-width: 2px;
	@apply border-black;
}

.textarea-field {
	height: 100px;
	white-space: normal;
	padding-right: 8px;
}

.form-container {
	@apply relative border-4 border-green-800 p-4 mx-auto max-w-lg text-left;
}

.heading-text {
	@apply text-4xl font-black font-heading mb-4;
}

.subheading-text {
	@apply text-2xl font-black font-heading mb-4;
}

.form-container:before {
	background: #2c9382;
	content: "";
	display: block;
	position: absolute;
	margin-left: -15px;
	bottom: -15px;
	left: -4px;
	top: 15px;
	width: 15px;
}
.form-container:after {
	background: #2c9382;
	content: "";
	display: block;
	position: absolute;
	margin-left: -15px;
	bottom: -19px;
	left: -4px;
	right: 15px;
	height: 15px;
}

/* bg color and text color needs to be defined */
.info-box {
	@apply my-3 text-sm text-left bg-opacity-10 border border-green-800 p-4;
}

body {
	/* Give it at right places only */
	overflow-y: hidden;
	background: #fffcee;
}

.main-container {
	/* keep it with sync with navbarHeight.ts */
	max-height: calc(100vh - theme("height.10"));
	height: calc(100vh - theme("height.10"));
	overflow-y: scroll;
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

*::-webkit-scrollbar-track {
	border-radius: 0px;
}

*::-webkit-scrollbar {
	width: 7px;
	/* background: red; DEBUG */
}

*::-webkit-scrollbar-thumb {
	@apply bg-custom-scroll-color;
	border-radius: 4px;
}

.tag-style {
	@apply text-xss font-medium  px-1 rounded align-middle;
}

/* DESCRIPTION CARD */

.description-card-wrapper {
	@apply rounded-lg py-4 shadow-md shadow-sky-600 border-gray-600 border;
}

.description-group {
	@apply px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-3 sm:px-6;
}

.description-group-key {
	@apply text-sm font-medium text-gray-500;
}

.description-group-value {
	@apply mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2;
}

/* Generic Card */
/** apply padding x and y yourself */
.card-container {
	@apply shadow-md border-gray-600 border;
}
